<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <table>
         <thead>
            <tr>
               <th>Id</th>
               <th>Annonce</th>
               <th>Prix</th>
            </tr>
         </thead>
         
         <tbody>
            {% for property in properties %}
               <tr>
                  <td>{{ property.id }}</td>
                  <td>{{ property.name }}</td>
                  <td>{{ property.price }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>